<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

    <title>Книги</title>
  </head>
  <body>

  <div class="container">
    <nav class="mx-auto pt-3" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if current_page == 1 %}
          <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="index{{current_page - 1}}.html">Назад</a></li>
        {% endif %}

        {% for page in range(1, pages_amount) %}
          {% if page != current_page %}
            <li class="page-item"><a class="page-link" href="index{{page}}.html">{{ page }}</a></li>
          {% else %}
            <li class="page-item active"><a class="page-link" href="index{{page}}.html">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

        {% if current_page == pages_amount - 1 %}
          <li class="page-item disabled"><a class="page-link" href="#">Вперед</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="index{{current_page + 1}}.html">Вперед</a></li>
        {% endif %}

      </ul>
    </nav>

    <div class="row row-cols-2">
      {% for book in books_descr %}
        <div class="col-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../{{ book.img_src  | urlencode}}" class="card-img" alt="обложка {{book.title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <h6>{{ book.author }}</h6>
                  <div class="h5">
                    <a href="../{{ book.book_path | urlencode }}" target="_blank">Читать</a>
                  </div>
                    {% for genre in book.genres %}
                      <div class="badge badge-primary">{{ genre }}</div>
                    {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </body>
</html>